networks:
  monitoring:
    external: true
    name: monitoring
  production:
    external: true
    name: production

services:
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    restart: unless-stopped
    env_file:
      - .env
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.grafana.rule=Host(`grafana.yourdomain.com.br`)"
      - "traefik.http.routers.grafana.entrypoints=websecure"
      - "traefik.http.services.grafana.loadbalancer.server.port=3000"
      - "traefik.docker.network=production"
    volumes:
      - grafana_data:/var/lib/grafana
    networks:
      - monitoring
      - production
      
volumes:
  grafana_data:
    driver: local
    name: grafana_data